<%= link_to "&larr; #{@session.project.display_name}".html_safe, project_path(@session.project), class: "back-link" %>

<div class="session-header">
  <div class="session-title"><%= @session.display_title %></div>
  <div class="session-meta">
    <span class="session-meta-tag"><%= @session.source_name %></span>
    <span class="session-meta-tag"><%= @session.started_at&.strftime("%b %d, %Y &middot; %H:%M").html_safe %></span>
    <% if @session.model.present? %>
      <span class="session-meta-tag"><%= @session.model %></span>
    <% end %>
    <span class="session-meta-tag"><%= @session.messages_count %> messages</span>
    <% if @session.total_tokens > 0 %>
      <span class="session-meta-tag"><%= number_with_delimiter(@session.total_tokens) %> tokens</span>
    <% end %>
  </div>
</div>

<div class="message-list">
  <% @messages.each do |message| %>
    <div id="msg-<%= message.id %>" class="message <%= message_css_class(message.role) %>">
      <div class="message-header">
        <span class="role-badge <%= role_css_class(message.role) %>"><%= message.role %></span>
        <span class="message-timestamp"><%= message.timestamp&.strftime("%H:%M:%S") %></span>
        <% if message.model.present? %>
          <span class="message-timestamp"><%= message.model %></span>
        <% end %>
      </div>

      <% if message.role == "assistant" %>
        <%= render_assistant_content(message) %>
      <% else %>
        <div class="message-content"><%= message.content_text %></div>
      <% end %>
    </div>
  <% end %>
</div>
