<%= link_to "&larr; Projects".html_safe, projects_path, class: "back-link" %>

<div class="text-xl"><%= @project.display_name %></div>
<p class="text-sm text-muted mb-6"><%= @project.path %> &middot; <%= @project.source_type.titleize %></p>

<div class="session-list">
  <% @sessions.each do |session| %>
    <%= link_to session_path(session), class: "card" do %>
      <div class="session-card-header">
        <div class="session-card-body">
          <div class="session-card-title"><%= session.display_title %></div>
          <div class="session-card-meta">
            <%= session.messages_count %> messages
            <% if session.model.present? %>
              &middot; <%= session.model %>
            <% end %>
          </div>
        </div>
        <div class="session-card-date">
          <%= session.started_at&.strftime("%b %d, %Y %H:%M") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% total = @project.sessions_count %>
<% page = (params[:page] || 1).to_i %>
<% if total > 30 %>
  <div class="pagination">
    <% if page > 1 %>
      <%= link_to "Previous", project_path(@project, page: page - 1) %>
    <% end %>
    <% if page * 30 < total %>
      <%= link_to "Next", project_path(@project, page: page + 1) %>
    <% end %>
  </div>
<% end %>
