<%= link_to "&larr; Projects".html_safe, projects_path, class: "back-link" %>

<div class="project-header">
  <div class="project-name"><%= @project.display_name %></div>
  <div class="project-path"><%= @project.path %> &middot; <%= @project.source_type.titleize %></div>
</div>

<div data-controller="search" data-search-url-value="<%= project_path(@project) %>">
  <form action="<%= project_path(@project) %>" method="get">
    <div class="search-form">
      <input type="text" name="q" value="<%= @query %>" placeholder="Search this project..."
             class="search-input" autofocus
             data-search-target="input"
             data-action="input->search#search">
      <button type="submit" class="search-btn">Search</button>
    </div>
  </form>

  <div data-search-target="results">
    <% if @query.present? && @results %>
      <%= render partial: "search/results" %>
    <% end %>
  </div>
</div>

<div class="session-list">
  <% @sessions.each do |session| %>
    <%= link_to session_path(session), class: "session-card" do %>
      <div class="session-card-body">
        <div class="session-card-title"><%= session.display_title %></div>
        <div class="session-card-meta">
          <span><%= session.messages_count %> messages</span>
          <% if session.model.present? %>
            <span class="session-card-meta-divider">&middot;</span>
            <span><%= session.model %></span>
          <% end %>
        </div>
      </div>
      <div class="session-card-date">
        <%= session.started_at&.strftime("%b %d &middot; %H:%M").html_safe %>
      </div>
    <% end %>
  <% end %>
</div>

<% total = @project.sessions_count %>
<% page = (params[:page] || 1).to_i %>
<% if total > 30 %>
  <div class="pagination">
    <% if page > 1 %>
      <%= link_to "&larr; Previous".html_safe, project_path(@project, page: page - 1) %>
    <% end %>
    <% if page * 30 < total %>
      <%= link_to "Next &rarr;".html_safe, project_path(@project, page: page + 1) %>
    <% end %>
  </div>
<% end %>
